/* 
    Document   : index
    Created on : 18-10-2013, 11:38:33 PM
    Author     : jorge
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background: rgb(157,213,58) url("../images/background_1.jpg") top left fixed repeat;
    margin: 0;
    font-family: Arial Unicode MS,Arial,sans-serif;
}

/*Barra de accesibilidad*/
#barra{
    height: 43px;
    background-image: url("../images/barra.png") ;
    color: #fff;
    -moz-text-shadow: 0 1px 1px #000;
    -webkit-text-shadow: 0 1px 1px #000;
    -o-text-shadow: 0 1px 1px #000;
    text-shadow: 0 1px 1px #000;
}

#barra a {
    font-size: 16px;
    padding: 0 25px;
    text-decoration: none;
    color: #fff;
    font-family: 'Kersse',helvetica,sans-serif;
    font-weight: lighter;
    /*transition*/
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

#barra a:hover {
    color: #70FF70;
    text-shadow: 0 0 50px #666,                
				 0 0 50px #666,                
				 0 0 50px #666,                
				 0 0 50px #666,                
				 0 0 50px #666,                
				 0 0 25px #000,                
				 0 0 25px #000,                
				 0 0 25px #000,               
				 0 0 25px #000,                
				 0 0 25px #000;
}

#barra a img#logo {
    margin-left: 25px;
    float: left;
    width: 40px;
    height: 30px;
    padding: 6px;
}

#barra a span {
    float: left;
    line-height: 42px;
}

#content {
    background: #FFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    margin: 25px auto 25px;
    padding: 40px;
    width: 945px;
    font-size: 16px;
}

#iniciar-sesion fieldset {
    width: 0;
    width: -moz-max-content !important;
}

#iniciar-sesion fieldset legend {
    font-size: 16px;
    text-shadow: -2px 2px 2px #AEBEAF;
}

#iniciar-sesion {
    padding: 10px;
}

/********** FORMULARIOS DEFAULT **********/

form {
    padding: 20px;
}

form > p {
    margin-bottom: 10px;
}

form > p label {
    display: block;
    font-weight: bold;
    color: #333;
}

form input, form button {
    padding: 4px 8px;
}

form button[type="submit"] {
    font-weight: bold;
}

form button[type="reset"] {
    font-size: 12px;
}

/********** FIN FORMULARIOS DEFAULT **********/