/* 
    Document   : style
    Created on : 19-10-2013, 12:55:11 AM
    Author     : jorge
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Arial Unicode MS, Arial, sans-serif;
    background: rgb(157,213,58) url("../images/background_1.jpg") top left fixed repeat;
    background-size: cover;
}

body, div, p, span, h1, h2, h3, h4, h5, h6, ul, li, table, tbody, thead, tr, th, td {
    margin: 0;
    padding: 0;
}

/********** CONTROL MAIN CONTENT DINAMICO **********/

#main-conent li {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition:visibility 0s ease 0.5s,opacity 0.5s ease, transform 0.3s ease;
}
#main-conent li:target {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}

#main-conent li div {
    display: none;
}

#main-conent li:target div {
    display: block;
}

/********** FIN CONTROL MAIN CONTENT DINAMICO **********/

ul#main-menu, ul#main-conent {
    list-style-type: none;
}

/********** MENU **********/

#main-menu a img#logo {
    margin-top: -12px;/*Para subir, ya que está dentro del padding a*/
    float: left;
    width: 40px;
    height: 30px;
    padding: 6px;
}

#main-menu {
    height: 43px;
    background-image: url("../images/barra.png") ;
    color: #fff;
    -moz-text-shadow: 0 1px 1px #000;
    -webkit-text-shadow: 0 1px 1px #000;
    -o-text-shadow: 0 1px 1px #000;
    text-shadow: 0 1px 1px #000;
}

#main-menu li {
    float: left;
    /*line-height: 42px;*//*Cambiado a display bloc en a*/
    display: inline;
    border-right: 1px solid #888;
    border-left: 1px solid #DDD;
}

#main-menu li:first-child {
    border-left: none;
}

#main-menu li:last-child {
    border-right: none;
}

#main-menu li a {
    display: block;
    padding: 11px 20px;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    outline: none;
    transition: background .3s linear, color .2s linear;
}

#main-menu li a:hover {
    background: rgba(255,255,255,0.2);
    color: #4E4;
}

/*sub menu*/
ul#main-menu ul {
    list-style-type: none;
    position: absolute;
    display: none;
    background: #000;
    border: 1px solid #AAA;
    font-size: 14px;
    z-index: 1;
}

ul#main-menu ul li {
    float: none;
    border: none;
    display: block;
}

ul#main-menu ul a {
    padding: 9px 15px;
}

#main-menu li:hover ul {
    display: block;
    animation: aparicion .3s 1 forwards;
}

@keyframes aparicion{
    from {opacity:.1; transform:scaleY(0.1); margin-top:-20px;}
    50%{transform:scaleY(1)}
}

/********** FIN MENU **********/

/********** CONTENIDO PRINCIPAL**********/

#main-conent {
    width: 945px;
    margin: 25px auto;
    padding: 25px;
    /*background: #FFF;*/
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

#main-conent fieldset {
    width: 0;
    width: -moz-max-content !important;
    margin: 0 auto;
    background: #F5F5F5;
}

#main-conent fieldset legend {
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #000;
    padding: 4px 8px;
    background: #FFF;
}

hr {
    margin: 20px 0;
}

/********** TABLA ENTIDADES **********/

table.entidades {
    width:100%;
    margin: 10px 0 10px 0;
    border-collapse:collapse;
    table-layout:auto;
    vertical-align:top;
    border:1px solid #CCCCCC;
}

table.entidades tr th, table.entidades tr td {
    background: #3B3B3B;
    color: #FFF;
    padding: 7px 4px;
    text-align: left;
}

table.entidades thead th {
    color:#FFFFFF;
    background-color:#666666;
    border:1px solid #CCCCCC;
    border-collapse:collapse;
    text-align:center;
    table-layout:auto;
    vertical-align:middle;
}
  
table.entidades tr td {
    background: #E5E5DB;
    color: #47433F;
    border-top: 1px solid #FFF;
    
    vertical-align:top;
    border-collapse:collapse;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    transition:background 0.2s ease 0s, color 0.2s ease 0s;
}

table.entidades tr:nth-child(2n) td {
    background: #EFEFE5;
}

table.entidades tr:hover td {
    background: #C5C5BA;
    color: #000;
}

/********** FIN TABLA ENTIDADES **********/

/********** FORMULARIOS DEFAULT **********/

form {
    padding: 20px;
}

form > p {
    margin-bottom: 10px;
}

form > p label {
    display: block;
    font-weight: bold;
    color: #333;
}

form input, form button {
    padding: 4px 8px;
}

form textarea {
    width: 90%;
    height: 100px;
}

form button[type="submit"] {
    font-weight: bold;
}

form button[type="reset"] {
    font-size: 12px;
}

/********** FIN FORMULARIOS DEFAULT **********/